.body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color:#CF83FF;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.header {
    margin-bottom: 40px;
}
.title { 
    font-size: 28px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

.ideaContainer {
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 65%;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    min-height: 40%;
    min-width: 50%;
    background-color: #7b43aa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.description p{
    margin-left: 5px;
    text-align: justify;
}

.description{
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 17px;
    text-align: justify;
    padding: 15px;
    width: 100%; 
}

span {
    color: white;
}

.votesCount {
    display: flex;
    flex-direction: column;
}

