
.list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #d89ff8;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

#header-title{
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
    margin: 0;
    flex: 1;
}


.list-nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    flex: 2;
    margin-right: 100px;
}

main {
    margin: 0px;
    background-color: #825ADB;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} 

.input-container {
    margin: 15px auto;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;   
}



li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    flex-direction: row;
}

.div_avaliacoes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ideas-list {
    flex:1
}

.container-title-idea{
    flex:0.6;
    padding-left: 7px;
    padding-right: 11px;
}

.container-name-idea{
    flex:0.20;
    padding-left: 7px;
    padding-right: 11px;
}

.container-date-idea{
    flex:0.1;
    padding-left: 7px;
    padding-right: 11px;
}

.container-rating-idea{
    flex:0.1;
    padding-left: 7px;
    padding-right: 11px;
}

.container-icon {
    cursor: pointer;
}

.ideas-list-container {
    margin: 25px auto;
    background-color: #d89ff8;
    display: flex;
    width: 80%;
    height: auto;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.idea-li-item{
    padding-left: 4px;
    flex:1;
    margin-top: 5px;
    margin-bottom: 7px;
    align-self: center;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: solid 2px rgb(183, 71, 235);
    border-radius: 11px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.input-container input {
    width: 50%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #e5c7f7;
    border-radius: 5px;
    box-sizing: border-box;
}

.AddIdea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.AddIdea h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
}

.AddIdea form {
    width: 100%;
}

.AddIdea input {
    width: 92%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.AddIdea button {
    width: 100%;
    padding: 10px;
    background-color: #432a40;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.AddIdea button:hover {
    background-color: #432a40;
}

.profile-information{
    display: flex;
    flex:1;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    color: rgb(0, 0, 0);
    margin-top: 17px;
}
